body {
  margin: 0;
}

header {
  background-color: aqua;
  text-align: center;
}

header input {
  font-size: 20px;
  margin: 20px 0;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.singleNewsItem {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid grey;
}
